/* xl device */
@media (min-width: 1200px) and (max-width: 1400px){
.blockOne,.blockTwo{
    display: none;
}
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1159px) {
    .mobile-menu {
        width: 350px;
        padding-top: 100px;
        padding-left: 50px;
    }
    /* hero */
    /* header */
    .logo img {
        width: 156px;
    }
     /* hero */
    .hero {
        min-height: fit-content;
    }
    .main-hero {
        padding-top: 70px;
        padding-bottom: 0px;
    }
   
    .hero-desc {
        margin-top: 15px;
    }
    .hero-btn {
        margin-top: 12px;
    }
    .hero-right {
        margin-top: 30px;
    }
    .mobile-img {
        margin-left: 0px;
        margin-top: -50px;
    }
    .hero-right .graph {
        top: 100px;
        left: -20px;
    }
    .hero-right .graph img {
        height: 200px;
        width: 320px;
    }
    .blockOne {
        display: none;
    }
    .blockTwo {
        display: none;
    }
    .hero .mt-60 {
        margin-top: 0px;
    }
    /* counter */
    .counter-wrapper {
        padding-top: 0px;
        padding-bottom: 50px;
        margin-top: 60px;
    }
    .counter-item {
        padding: 30px 0px;
    }

    .counter-img img {
        height: 50px;
        width: 50px;
    }
    .counter-img {
        margin-bottom: 0px;
    }
    .counter-number {
        margin-top: -10px;
    }
    .counter-number span {
        font-size: 48px;
    }
    .counter-text span {
        font-size: 15px;
        line-height: 28px;
    }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .mobile-menu {
        width: 370px;
        padding-top: 100px;
        padding-left: 100px;
    }
 
 
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .mobile-menu {
        width: 370px;
        padding-top: 100px;
        padding-left: 100px;
    }
   
   /* header */
    .logo img {
        width: 156px;
    }
     /* hero */
    .hero {
        min-height: fit-content;
    }
    .main-hero {
        padding-top: 70px;
        padding-bottom: 0px;
    }
   
    .hero-desc {
        margin-top: 15px;
    }
    .hero-btn {
        margin-top: 12px;
    }
    .hero-right {
        margin-top: 30px;
    }
    .mobile-img {
        margin-left: 0px;
        margin-top: -38px;
    }
    .hero-right .graph {
        top: 100px;
        left: -20px;
    }
    .hero-right .graph img {
        height: 200px;
        width: 320px;
    }
    .blockOne {
        display: none;
    }
    .blockTwo {
        display: none;
    }
    .hero .mt-60 {
        margin-top: 0px;
    }
    /* counter */
    .counter-wrapper {
        padding-top: 0px;
        padding-bottom: 50px;
        margin-top: -60px;
    }
    .counter-item {
        padding: 30px 0px;
    }

    .counter-img img {
        height: 50px;
        width: 50px;
    }
    .counter-img {
        margin-bottom: 0px;
    }
    .counter-number {
        margin-top: -10px;
    }
    .counter-number span {
        font-size: 42px;
    }
    .counter-text span {
        font-size: 15px;
        line-height: 28px;
    }
}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* header */
    .logo img {
        width: 126px;
    }
    /* hero */
    /* hero */
    .hero {
        min-height: fit-content;
    }
    .main-hero {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .hero-title h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .hero-desc {
        margin-top: 12px;
    }
    .hero-btn {
        margin-top: 12px;
    }
    .hero-right {
        margin-top: 30px;
    }
    .mobile-img {
        margin-left: 0px;
        margin-top: -28px;
    }
    .hero-right .graph {
        top: 100px;
        left: -20px;
    }
    .hero-right .graph img {
        height: 140px;
        width: 220px;
    }
    .blockOne {
        right: -20px;
        margin-top: 10px;
    }
    .blockOne img {
        height: 60px;
        width: 100px;
    }
    .blockTwo img {
        width: 60px;
    }
    .blockTwo {
        top: 320px;
        right: 20px;
    }
    .hero .mt-60 {
        margin-top: 0px;
    }
    /* counter */
    .counter-wrapper {
        padding-top: 0px;
        padding-bottom: 50px;
        margin-top: -160px;
    }
    .counter-item {
        padding: 30px 0px;
    }

    .counter-img img {
        height: 40px;
        width: 40px;
    }
    .counter-img {
        margin-bottom: 0px;
    }
    .counter-number {
        margin-top: -20px;
    }
    .counter-number span {
        font-size: 32px;
        line-height: 36px;
    }
    .counter-text span {
        font-size: 15px;
        line-height: 28px;
    }
}
/* SM Small Device :550px. */
@media only screen and (min-width: 340px) and (max-width: 575px) {
    /* header */
    .logo img {
        width: 96px;
    }
    .logo {
        margin-top: 8px;
        display: block;
    }
    /* hero */
    .hero {
        min-height: fit-content;
    }
    .main-hero {
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .hero-title h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .hero-desc {
        margin-top: 12px;
    }
    .hero-btn {
        margin-top: 12px;
    }
    .hero-right {
        margin-top: 30px;
    }
    .mobile-img {
        margin-left: 0px;
        margin-top: -18px;
    }
    .hero-right .graph {
        top: 50px;
        left: -20px;
    }
    .hero-right .graph img {
        height: 100px;
        width: 160px;
    }
    .blockOne {
        right: -30px;
        margin-top: 20px;
    }
    .blockOne img {
        height: 60px;
        width: 100px;
    }
    .blockTwo img {
        width: 60px;
    }
    .blockTwo {
        top: 320px;
        right: 10px;
    }
    .hero .mt-60 {
        margin-top: 0px;
    }
    /* counter */
    .counter-wrapper {
        padding-top: 0px;
        padding-bottom: 50px;
        margin-top: -250px;
    }
    .counter-item {
        padding: 16px 0px;
    }
    .counter-img img {
        height: 32px;
        width: 32px;
    }
    .counter-img {
        margin-bottom: 0px;
    }
    .counter-number {
        margin-top: -20px;
    }
    .counter-number span {
        font-size: 24px;
        line-height: 28px;
    }
    .counter-text span {
        font-size: 15px;
        line-height: 28px;
    }
}

/* responsvie min width */
