
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1159px) {
    .mobile-menu {
        width: 350px;
        padding-top: 100px;
        padding-left: 50px;
    }
    /* hero */
    .hero {
        padding-top: 80px;
    }
    .hero-title h1 {
        font-size: 48px;
        line-height: 52px;
        margin-top: 20px;
    }
    .hero-desc {
        margin-top: 20px;
    }
    .hero-desc p {
        font-size: 18px;
    }
    .hero-btn {
        margin-top: 20px;
    }
    .hero-right {
        margin-top: 40px;
    }
    .mobile-img {
        margin-left: -50px;
        margin-top: -40px;
    }
    .hero-right .graph {
        top: 80px;
        left: -50px;
    }
    .hero-right .graph img {
        height: 250px;
        width: 400px;
    }
    .blockOne {
        right: -10px;
        margin-top: 160px;
    }
    .blockOne img {
        height: 100px;
        width: 150px;
    }
    .blockTwo img {
        width: 90px;
    }
    .blockTwo {
        top: 380px;
        right: 50px;
    }
    .hero .mt-60 {
        margin-top: 0px;
    }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .mobile-menu {
        width: 370px;
        padding-top: 100px;
        padding-left: 100px;
    }
    /* hero */
    .hero {
        min-height: fit-content;
        padding-top: 80px;
    }
    .hero-title h1 {
        font-size: 48px;
        line-height: 52px;
        margin-top: 20px;
    }
    .hero-desc {
        margin-top: 20px;
    }
    .hero-desc p {
        font-size: 18px;
    }
    .hero-btn {
        margin-top: 20px;
    }
    .hero-right {
        margin-top: 40px;
    }
    .mobile-img {
        margin-left: -50px;
        margin-top: -40px;
    }
    .hero-right .graph {
        top: 80px;
        left: -50px;
    }
    .hero-right .graph img {
        height: 200px;
        width: 300px;
    }
    .blockOne {
        right: -10px;
        margin-top: 160px;
    }
    .blockOne img {
        height: 100px;
        width: 150px;
    }
    .blockTwo img {
        width: 90px;
    }
    .blockTwo {
        top: 380px;
        right: 50px;
    }
    .hero .mt-60 {
        margin-top: 0px;
    }
}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* header */
    .logo img {
        width: 126px;
    }
    /* hero */
    /* hero */
    .hero {
        min-height: fit-content;
    }
    .hero-title h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .hero-desc {
        margin-top: 12px;
    }
    .hero-btn {
        margin-top: 12px;
    }
    .hero-right {
        margin-top: 30px;
    }
    .mobile-img {
        margin-left: -50px;
        margin-top: -18px;
    }
    .hero-right .graph {
        top: 50px;
        left: -20px;
    }
    .hero-right .graph img {
        height: 100px;
        width: 160px;
    }
    .blockOne {
        right: -30px;
        margin-top: 80px;
    }
    .blockOne img {
        height: 60px;
        width: 100px;
    }
    .blockTwo img {
        width: 60px;
    }
    .blockTwo {
        top: 320px;
        right: 10px;
    }
    .hero .mt-60 {
        margin-top: 0px;
    }
}
/* SM Small Device :550px. */
@media only screen and (min-width: 340px) and (max-width: 575px) {
    /* header */
    .logo img {
        width: 96px;
    }
    .logo {
        margin-top: 8px;
        display: block;
    }
    /* hero */
    .hero {
        min-height: fit-content;
    }
    .hero-title h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .hero-desc {
        margin-top: 12px;
    }
    .hero-btn {
        margin-top: 12px;
    }
    .hero-right {
        margin-top: 30px;
    }
    .mobile-img {
        margin-left: -50px;
        margin-top: -18px;
    }
    .hero-right .graph {
        top: 50px;
        left: -20px;
    }
    .hero-right .graph img {
        height: 100px;
        width: 160px;
    }
    .blockOne {
        right: -30px;
        margin-top: 80px;
    }
    .blockOne img {
        height: 60px;
        width: 100px;
    }
    .blockTwo img {
        width: 60px;
    }
    .blockTwo {
        top: 320px;
        right: 10px;
    }
    .hero .mt-60 {
        margin-top: 0px;
    }
}
